
.container1 {
  position: relative;
  width: 50%;
  max-width: 200px;
}

.music-wrapper {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image1 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay1 {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 80%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;

}

.container1:hover .overlay1 {
  opacity: 1;
}
